<footer>
  <!-- This is a Semantic HTML Change -->
  <!-- The <footer> element tag encloses section of the code intended to have author, version
  and copyright information of the website. This is also an important Semantic HTML change
  as it helps the browser and other developer better understand and structure the code.-->
  <div role="contentinfo" class="bottom">
      <!--This is an A11y Accessibility change-->
      <!--Having role="contentinfo" is used to mark region in the website used to contain identifying
      information like author, copyright etc.-->
      <div class="center">
          All rights reserved &copy; Saumit Chinchkhandi
      </div>
  </div>
</footer>
